.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;

  height: 80px;
  background: #fff;
  padding: 0 76px;
  box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.1);
}

.header-logo {
  cursor: pointer;
  img {
    width: 55px;
    height: 30px;
  }
}

span.logo-name {
  font-size: 34px;
  font-weight: 700;
  padding-left: 12px;
}

img.hamburger {
  width: 34px;
  height: 24px;
  cursor: pointer;
}

.gnb {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: absolute;

  background: #fff;
  right: 5%;
  top: 60%;
  width: 200px;
  height: 172px;

  border-radius: 12px;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);

  span {
    font-size: 16px;
  }
}

.nav-hi {
  padding: 50px;

  border-bottom: 0.5px solid rgba(0, 0, 0, 0.1);
  padding: 15px;
}

.nav-item {
  display: flex;
  align-items: center;
  gap: 10px;

  border-bottom: 0.5px solid rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.nav-bookmark {
  display: flex;

  border-bottom: 0.5px solid rgba(0, 0, 0, 0.1);
  padding: 20px;
  gap: 10px;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
